<h1> All Users </h1>

<% @users.each do |user| %>

    <h2> <%= user.first_name %></h2>
    <p> <%= user.last_name %> </p>
    <p> <%= user.email %> </p>
    <p> <%= user.phone %> </p>
    <p> <a href="<%= user_path(user.id) %>" class"link"> show this user</a></p>
    <p> <a href="<%= edit_user_path(user.id) %>" class="link"> edit user</a></p>
    <p> <a href="<%= new_user_path() %>" class="link"> add user</a></p>
    <p> <%= button_to "Delete", user_path(user), method: :delete, class: "btn btn--light" %> </p>

<% end %>
