<h1>Show user</h1>

<p> User id : <%= @user.id %> </p>
<p> User lastname : <%= @user.last_name %></p>
<p> User firstname : <%= @user.first_name %></p>
<p> User email : <%= @user.email %></p>
<p> User phone : <%= @user.phone %></p>

<p> 
<a href="<%= users_path %>" class "btn">Back to list</a>
</p>
